#screen
	#this-carousel-id.carousel.slide
		.carousel-inner
			.item.active
				= image_tag("whisper.jpg", :alt => "whisper feed", :width => 1300,:height => 600)
				- flash.each do |name, msg|
					= content_tag :div, msg, class: "alert"
				.carousel-caption
					%p#catchphrase Share info share tips
			.item
				%img{:alt => "", :src => "http://placehold.it/1300x600"}/
				.carousel-caption
					%p Caption text here
			.item
				%img{:alt => "", :src => "http://placehold.it/1300x600"}/
				.carousel-caption
					%p Caption text here

		%a.carousel-control.left{"data-slide" => "prev", :href => "#this-carousel-id"} ‹
		%a.carousel-control.right{"data-slide" => "next", :href => "#this-carousel-id"} ›

.row#indexlists
	%div.aside-container#categorieslist
		%div.aside-content
			%div.aside-header
				%h1#homecategtheme Categories
			%div#homecategtheme
				- Category.all.each do |category|
					%h2= link_to category.name, recipes_path(category: category.name)

	%div.main-container#recipeslist
		%h1#homecategtheme Themes

		%div
			- @recipes.each do |recipe|
				%h2= link_to recipe.title, recipe