/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require social_share
 */

@import "bootstrap-sprockets";
@import "bootstrap";

#signupform {
	margin-bottom: 90px;
}

#signinform {
	margin-bottom: 90px;
}

div.container.row {
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
	margin-top: 50px;
}

.main_content {
	margin-top: 80px;
	margin-left: 50px;
	margin-right: 50px;
}

input.btn.btn-default {
	color: #0f2350;
	font-family: Avenir;
}

.btn-default:hover {
	background-color: transparent;
	border-color: transparent;
	color: #0f2350;
}

h1, h4, a {
	color: #0f2350;
	font-family: Avenir;
}

a:hover {
	text-decoration: none;
}

body {
	background-color: #fff;
}

#backedit a {
	color: #0f2350;
	margin-top: 30px;
}

.panel {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.panel-heading {
	background-color: transparent;
}

.panel-footer {
	background-color: transparent;
	border: none;
}
/* index */

#indexlists {
	margin-top: 20px;
}

#categorieslist {
	text-align: center;
}


#recipeslist {
	text-align: center;
}

/* navbar */

.navbar {
	background-color: #fff;
	border-bottom: 1px solid #cd5e3c;
	border-radius: none;
}

#navcontainer {
	width: 90%;
}

.navbar-brand a {
	color: #cd5e3c;
	text-decoration: none;
	font-family: Futura;
}

.navbar-default .navbar-nav li a {
	color: #0f2350;
	font-family: Avenir;
}


/* screen */

#carrousel {
	width: 100%;
}

a.carousel-control.left {
	opacity: 0;
}

a.carousel-control.right {
	opacity: 0;
}

#screen {
	background-color: transparent;
	width: 100%;
	margin-right: none;
	margin-left: none;
	padding-left: 0px;
	padding-right: 0px;
}

#catchphrase {
	text-align: center;
}

p#catchphrase {
	line-height: 6em;
	font-size: 3em;
	color: #0f2350;
	font-family: Futura;
}


/* new theme */

.form-control {
	width: 50%;
}

div.input.text.required.recipe_description {
	margin-top: 25px;
}

label.string.optional {
	margin-right: 25px;
}

label.url.optional {
	margin-right: 35px;
}

label.text.optional {
	margin-right: 25px;
}

#recipe_category_id {
	margin-top: 25px;
}

.links {
	margin-top: 20px;
}

div.links a {
	color:#0f2350;
}

.nested-fields {
	margin-top: 25px;
}

/* show */

h1 {
	text-align: center;
} 

#description a {
	font-family: Avenir;
}

#showlist {
	margin-top: 40px;
}

#informations {
	text-align: center;
}

#info {
	margin-top: 50px;
	display: -webkit-inline-box;
}

#votes {
	margin-right: 15px;
}

#contrebutton {
	margin-left: 15px;
}

#linkinfo a {
	color: #3eb370;
}

#contrelien {
	color: #ee827c;
	margin-top: 5px;
}

#contrelien a {
	color: #ee827c;
}

#directions {
	text-align: center;
}

#directionslist {
	margin-top: 50px;
}

#directionslist div {
	margin-top: 10px;
}

#tips {
	display: -webkit-inline-box;
}

.btn-default {
	color: black;
	border: none;
	background-color: transparent;
}

input[type="submit"] {
	color: #0f2350;
	border: none;
	background-color: transparent;
}

#new_information {
	margin-top: 30px;
}

#new_direction {
	margin-top: 30px;
}


ul {
	list-style: none;
}

div.button.glyphicon.glyphicon-exclamation-sign {
	cursor: pointer;
	color:#0f2350;
}

#addonshow.collapse {
	margin: auto;
}

#addonshow {
	border: none;
	background-color: transparent;
	width: 30%;
}

#addonshowcollapsed {
	min-height: 20px;
	padding: 0px;
	margin-bottom: 20px;
	background-color: transparent;
	border: none;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* modal */

#new_contrelien {
	vertical-align: middle;
}

input#contrelien_url {
	margin-top: 10px;
}

/* new theme */



/* footer */

#footer {
	margin-top: 50px;
	height: 100px;
	background-color: #ebf6f7;
	width: 100%;
	text-align: center;
}

#footer a {
	cursor: pointer;
	margin-right: 20px;
	color: #0f2350;
	font-family: Avenir;
	line-height: 5em;

}


/* media queries extra-small */



@media only screen and (max-width : 480px){
	#categorieslist a {
		font-size: .5em;
	}

	#recipeslist {
		font-size: .75em;
	}

	p#catchphrase {
	font-size: 2em;
	color: #0f2350;
	font-family: Futura;
	}
}


/* media queries small */

@media only screen and (max-width : 768px){
	#categorieslist a {
		font-size: .75em;
	}

	p#catchphrase {
	line-height: 3em;
	font-size: 2em;
	color: #0f2350;
	font-family: Futura;
	}
}
