/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require social_share
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* all */

h1, h4, a {
	color: #0f2350;
}

body {
	background-color: #e5e4e6;
}

/* index */

#categorieslist {
	text-align: center;
}


#recipeslist {
	text-align: center;
}

/* navbar */

.navbar-brand a {
	color: #cd5e3c;
}

.navbar-default {
	border-bottom: 1px solid #cd5e3c;
	background-color: #dcdddd;
}

.navbar-default .navbar-nav li a {
	color: #0f2350;
}


/* screen */

#screen {
	background-color: transparent;
	height: 450px;
}

#catchphrase {
	text-align:center;
}

#catchphrase a {
	line-height: 8em;
	font-size: 3em;
	cursor: pointer;
}


/* new theme */

.form-control {
	width: 50%;
}

/* show */

h1 {
	text-align: center;
} 

#informations {
	text-align: center;
}

#informationslist {
	margin-top: 50px;
}

#directions {
	text-align: center;
}

#directionslist {
	margin-top: 50px;
}

.btn-default {
	color: black;
	border: none;
	background-color: transparent;
}

input[type="submit"] {
	color: black;
	border: none;
	background-color: transparent;
}

#new_information {
	margin-top: 30px;
}

#new_direction {
	margin-top: 30px;
}

#backedit {
	margin-top: 300px;
}

ul {
	list-style: none;
}

div.button.glyphicon.glyphicon-alert {
	cursor: pointer;
	color:#0f2350;
}


/* modal */

#new_contrelien {
	vertical-align: middle;
}

input#contrelien_url {
	margin-top: 10px;
}
