/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require social_share
 */


@import "bootstrap-sprockets";
@import "bootstrap";

#signupform {
	margin-bottom: 90px;
}

#signinform {
	margin-bottom: 90px;
}

div.container.row {
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
	margin-top: 50px;
}

.main_content {
	margin-top: 80px;
	margin-left: 50px;
	margin-right: 50px;
}

input.btn.btn-default {
	color: black;
	font-family: Avenir;
}

.btn-default:hover {
	background-color: transparent;
	border-color: transparent;
	color: black;
}

h1, h4, a {
	color: black;
	font-family: Avenir;
}

a:hover {
	text-decoration: none;
}

body {
	background-color: #fff;
}

#backedit a {
	color: black;
	margin-top: 30px;
	margin-left: 30px;
}

.panel {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.panel-heading {
	border-bottom: 1px solid #ebf5f7;
	padding: 10px 15px;
}

.panel-body {
	padding: 0px;
}

.panel-footer {
	background-color: transparent;
	border: none;
}
/* index */

#indexlists {
	margin-top: 20px;
}

#categorieslist {
	text-align: center;
}


#recipeslist {
	text-align: center;
}

/* navbar */

#navhome {
	background-color: #fff;
	border-bottom: 1px solid #cd5e3c;
	border-radius: none;
}

#navcontainer {
	width: 90%;
}

.navbar-brand a {
	color: #cd5e3c;
	text-decoration: none;
	font-family: Futura;
}

.navbar-default .navbar-nav li a {
	color: #0f2350;
	font-family: Avenir;
}


/* screen */

#carrousel {
	width: 100%;
}

a.carousel-control.left {
	opacity: 0;
}

a.carousel-control.right {
	opacity: 0;
}

#screen {
	background-color: transparent;
	width: 100%;
	margin-right: none;
	margin-left: none;
	padding-left: 0px;
	padding-right: 0px;
}

#catchphrase {
	text-align: center;
}

p#catchphrase {
	line-height: 1em;
	font-size: 3em;
	color: white;
	font-family: Futura;
}


/* new theme */

.form-control {
	width: 50%;
}

div.input.text.required.recipe_description {
	margin-top: 25px;
}

label.string.optional {
	margin-right: 25px;
}

label.url.optional {
	margin-right: 35px;
}

label.text.optional {
	margin-right: 25px;
}

#recipe_category_id {
	margin-top: 25px;
}

.links {
	margin-top: 20px;
}

div.links a {
	color: black;
}

.nested-fields {
	margin-top: 25px;
}

/* show */

h1 {
	text-align: center;
} 

#themetitle_show {
	height: 150px;
	padding: 0px 0px;
	position: relative;
}

#recipe_info {
	width: 50%;
	height: 100%;
	background-color: #ebf6f7;
	border-right: 1px solid grey;
}

#description {
	text-align: center;
	width: 50%;
	height: 100%;
	background-color: #ebf6f7;
}

#description a {
	font-family: Avenir;
}

div#informationslist.lists {
	text-align: center;
}

div#directionslist.lists {
	text-align: center;
}

#showlist {
	margin-top: 40px;
}

#sharecol {
	background-color: #ebf6f7;
	border: 1px solid grey;
}

#sharecol a {
	font-size: 1.75em;
}

#infocol {
	background-color: #cd5e3c;
	border: 1px solid grey;
	text-align: center;
}

#infocol a {
	font-size: 1.75em;
}

#astucescol {
	background-color: #cd5e3c;
	border: 1px solid grey;
	text-align: center;
}

#astucescol a {
	font-size: 1.75em;
}

#followcol {
	background-color: #ebf6f7;
	border: 1px solid grey;
	text-align: center;
}

#followcol a {
	font-size: 1.75em;
}

#info {
	margin-top: 50px;
	display: -webkit-inline-box;
	border-top: 1px solid #ebf5f7;
}


#votes {
	margin-right: 50px;
	margin-top: 25px;
}

#contrebutton {
	margin-left: 50px;
	margin-top: 25px;
}

#linkinfo {
	margin-top: 25px;
}

#linkinfo a {
	color: #3eb370;
	font-size: 1em;
}

#contrelien {
	color: #ee827c;
	margin-top: 15px;
}

#contrelien a {
	color: #ee827c;
	font-size: 1em;
}

#directions {
	text-align: center;
}

#directionslist {
	margin-top: 50px;
}

#directionslist div {
	margin-top: 10px;
}

div#tips {
	margin-bottom: 30px
}

#tips {
	display: -webkit-inline-box;
}

#tips a {
	font-size: 1em;
}

#votes a {
	font-size: 1em;
}

.btn-default {
	color: black;
	border: none;
	background-color: transparent;
}

input[type="submit"] {
	color: #0f2350;
	border: none;
	background-color: transparent;
}

#new_information {
	margin-top: 30px;
}

#new_direction {
	margin-top: 30px;
}

ul {
	list-style: none;
}

div.button.glyphicon.glyphicon-exclamation-sign {
	cursor: pointer;
	color: black;
}

#addonshow.collapse {
	margin: auto;
}

#addonshow {
	border: none;
	background-color: transparent;
	width: 30%;
}

#addonshowcollapsed {
	min-height: 20px;
	padding: 0px;
	margin-bottom: 20px;
	background-color: transparent;
	border: none;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#add_button {
	margin-top: 30px;
}

.lists#directionslist {
	display: none;
}

/* modal */

#new_contrelien {
	vertical-align: middle;
}

input#contrelien_url {
	margin-top: 10px;
}

/* new theme */



/* footer */

#footer {
	height: 100px;
	background-color: #ebf6f7;
	width: 100%;
	text-align: center;
}

#footer a {
	cursor: pointer;
	margin-right: 20px;
	color: black;
	font-family: Avenir;
	line-height: 5em;

}


/* media queries extra-small */



@media only screen and (max-width : 480px){
	#categorieslist a {
		font-size: .5em;
	}

	#recipeslist {
		font-size: .75em;
	}

	p#catchphrase {
	font-size: 2em;
	color: white;
	font-family: Futura;
	}
}


/* media queries small */

@media only screen and (max-width : 768px){
	#categorieslist a {
		font-size: .75em;
	}

	p#catchphrase {
	line-height: 3em;
	font-size: 2em;
	color: white;
	font-family: Futura;
	}
}
